<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc208.blog.repository.base.mapper.ApplicationMapper">

    <insert id="insertApplication" parameterType="com.bc208.blog.common.dto.ApplicationDTO" statementType="PREPARED" >
        insert into application(userName,userGrade,userEmail,userQq, userInterest, userDescription)
            values (#{userName},#{userGrade},#{userEmail}, #{userQq}, #{userInterest}, #{userDescription})
    </insert>

    <select id="getApplicationByPage" resultType="com.bc208.blog.pojo.Application" statementType="PREPARED">
        select * from application limit #{page},#{size}
    </select>

    <select id="getApplicationCount" resultType="long" statementType="PREPARED">
        select count(1) from application
    </select>

    <select id="getApplicationEmail" resultType="String" statementType="PREPARED">
        select userEmail from application where userName=#{userName} order by userId desc limit 0,1
    </select>

    <select id="getApplicationDetail" resultType="com.bc208.blog.common.vo.ApplicationDetailVO" statementType="PREPARED">
        select  * from application where userName = #{userName} order by userId desc limit 0,1
    </select>
    <select id="getNoInterview" resultType="com.bc208.blog.common.vo.applicationVO">
        select userName, userGrade, userInterest from application where userJudged = 0
    </select>
    <select id="getInterviewed" resultType="com.bc208.blog.common.vo.applicationVO">
        select userName, userGrade, userInterest from application where userJudged = 1
    </select>

</mapper>