<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc208.blog.repository.base.mapper.UsersMapper">

    <select id="queryUserByEmail" resultType="com.bc208.blog.pojo.User">
        select * from user where userEmail=#{userEmail}
    </select>

    <select id="selectIdByEmail" resultType="com.bc208.blog.pojo.User">
        select userId from user where userEmail=#{userEmail}
    </select>

    <select id="queryUsers" resultType="com.bc208.blog.pojo.User">
        select * from user
    </select>
    <select id="getByUserEmail" resultType="com.bc208.blog.pojo.User">
        select * from user where userEmail=#{email}
    </select>

    <select id="getByUserName" resultType="com.bc208.blog.pojo.User">
        select * from user where userName=#{userName}
    </select>

    <select id="checkUserEnabled" resultType="java.lang.Integer">
        select enabled from user where userEmail=#{userEmail}
    </select>

    <select id="getUserInfo" resultType="com.bc208.blog.pojo.User">
        select * from user where userEmail=#{userEmail}
    </select>
    <select id="checkUserWxLogined" resultType="java.lang.String">
        select userId from userauth where openId=#{openid} order by userId desc limit 0,1
    </select>
    <select id="getUserInfoByOpenid" resultType="com.bc208.blog.pojo.User">
        select * from user where userId = (select userId from userauth where openId=#{userOpenId})
    </select>
    <select id="checkUserWx" resultType="java.lang.Long">
        select COUNT(*) from userauth where openId=#{userOpenId}
    </select>

    <insert id="registerUser" parameterType="com.bc208.blog.pojo.User" statementType="PREPARED" keyProperty="userId">
        insert into user(userName, userGrade, userEmail, userInterest, userPassword, userRole, userAuth)
                values (#{userName}, #{userGrade}, #{userEmail}, #{userInterest}, #{userPassword}, #{userRole}, #{userAuth})
    </insert>

    <update id="updateUser" parameterType="com.bc208.blog.pojo.User">
        update user set userToken=concat(userEmail,'?id=',cast(userId AS char)) where userEmail=#{userEmail}
    </update>

    <insert id="userDemand" statementType="PREPARED">
        insert into demand(userName, demandName, demandDescription, demandStatus) values (#{userName}, #{demandName}, #{demandDescription}, #{demandStatus})
    </insert>
    <insert id="insertUserAuth">
        insert into userauth(loginType, openid, sessionKey) value (#{loginType}, #{userOpenId}, #{sessionKey})
    </insert>

    <update id="changeDemand" statementType="PREPARED">
        update demand set demandStatus=#{demandStatus},demandDescription=#{demandDescription}  where demandName=#{demandName} and userName=#{userName}
    </update>
    <update id="makeDefaultPassword">
        update user set userPassword=#{userPassword} where userEmail=#{userEmail}
    </update>
    <update id="upUserIdForOpenid">
        update userauth set userId=#{userId} where openId=#{openId}
    </update>


</mapper>
